
	<p class="book-section-list-item section-title depth-{{ depth }}">{{ section.title }}</p>
	{% if section.childSections %}
	  {% capture childDepth %}{{ depth | plus: 1 }}{% endcapture %}
	  <div class="child-section-list">
		{% for childSection in section.childSections %}
		{% render 'books/book-section-list-item.liquid', section: childSection, depth: childDepth %}
		{% endfor %}
	  </div>
	{% endif %}
