{% layout 'layouts/default-html.liquid' %}
{% block content %}
<div>
  <h1>Hello World!</h1>

  {%- if showDog -%}
    <img src="https://i.imgur.com/5Swc751.png" alt="brown dog marley" width="300px"/>
  {%- endif -%}

  <p>Hide Marley with query parameter <code>showDog=false</code>.</p>
  <p><code>Page loaded at {{ date }}.</code></p>

</div>
{% endblock %}