{% layout 'layouts/default-html.liquid' %}

{% block content %}
<h1>pd-service</h1>
<p>a service by popular demand</p>

<h2>Links</h2>
<ul>
  <li><a href="/chat">Chatroom</a></li>
  <li><a href="/ping">ping</a></li>
  <li><a href="/hello-world">hello-world</a></li>
  <li><a href="/hello-dog">hello-dog</a></li>
  <li><a href="/generate-pdf">generate-pdf</a></li>
</ul>
{% endblock %}