{% layout 'layouts/default-html.liquid' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<style>
.small-heading {
  font-weight: 700;
  font-variant: small-caps;
  font-size: 1.1em;
}

.section-heading {
  margin-top: 0;
}

#pdf-html {
  position: relative;
}

.top-box {
  position:absolute;
  top:0;
  left:0;
  width:8.5in;
  height:.5in;
  background-color:#ccc;
  z-index:-1;
}

.invoice {
  float: right;
  width: 2in;
  padding: .1in;
  border: 2px solid black;
}

#line-items-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th, td {
  padding: .1in 0;
}

.padding-row {
  color: transparent;
}

.balance-due {
  background-color: #ccc;
  border: 1px solid black;
}

.balance-amount {
  border: 1px solid black;
}

.balance-due, .balance-amount {
  padding: .1in;
}
</style>
{% endblock %}

{% block content %}
<h1>Generate PDF</h1>

<div>
  <form id="pdf-form">
    <div id="inputs">
      <b>Invoice</b><br/>
      Invoice number: <input type="text" name="invoice-number" /><br>
      Invoice date: <input type="text" name="invoice-date" /><br>
      Invoice due date: <input type="text" name="invoice-due-date" /><br>
      Invoice balance due: <input type="text" name="invoice-balance-due" /><br><br>
      <b>Company</b><br>
      Company name: <input type="text" name="company-name"><br>
      Company contact: <input type="text" name="company-contact"><br>
      Company address: <input type="text" name="company-address"><br><br>
      <b>Bill-to</b><br>
      Bill-to name: <input type="text" name="bill-to-name"><br>
      Bill-to contact: <input type="text" name="bill-to-contact"><br><br>
      <b>Memo</b><br>
      Memo: <input type="text" name="memo"><br>
    </div>

    <br><br>

    <h3>Line Items <button id="add-line-item">Add line item</button></h3>
    <div id="line-item-inputs">
      <div class="line-item-input-group">
        <b>Line item:</b> <button class="remove-line-item">remove</button><br>
        <div class="line-item-inputs">
          Date: <input type="text" name="date" /><br>
          Description: <input type="text" name="description" /><br>
          Rate: <input type="text" name="rate" /><br>
          Amount: <input type="text" name="amount" /><br>
        </div>
        <br><br>
      </div>
    </div>
    <button id="update-pdf">Update PDF</button> When you have filled in the desired fields above, click "Update PDF" for a preview of the PDF in the window below.
  </form>
  <button onclick="generatePDF()">Print PDF</button> When you are satisfied with the PDF, click "Print PDF" to download a copy.
</div>

<br><br>

<div style="border: 1px solid black;width:fit-content;">
  <div id="pdf-html" style="width:6.5in; padding:1in;font-family:sans-serif;">

    <div class="top-box"></div>
    <div class="invoice">
      <div data-pdf-field="invoice-number">Invoice <span class="replace">#0045</span></div>
      <div data-pdf-field="invoice-date">Date: <span class="replace">04/02/2022</span></div>
      <div data-pdf-field="invoice-due-date">Due Date: <span class="replace">04/17/2022</span></div>
      <div data-pdf-field="invoice-balance-due">Balance Due: <span class="replace">$880.00</span></div>
    </div>

    <div class="company">
      <div data-pdf-field="company-name" class="small-heading"><span class="replace">POPULAR DEMAND</span></div>
      <div data-pdf-field="company-contact"><span class="replace">popdemtech@gmail.com</span></div>
      <div data-pdf-field="company-address"><span class="replace">www.popdemtech.com</span></div>
    </div>

    <br>

    <div class="bill-to">
      <div class="small-heading">BILL TO</div>
      <div data-pdf-field="bill-to-name"><span class="replace">Client Elle</span></div>
      <div data-pdf-field="bill-to-contact"><span class="replace">owner@mybusiness.com</span></div>
    </div>

    <br><hr><br>

    <h2 class="section-heading">Invoice</h2>

    <table id="line-items-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
      </thead>

      <tbody>
        <tr class="line-item-row">
          <td class="line-item-date">04/2022</td>
          <td class="line-item-description">Web Design</td>
          <td class="line-item-rate">$880/unit</td>
          <td class="line-item-amount">$880.00</td>
        </tr>
      </tbody>

      <tfoot>
        <tr class="padding-row" style="color:transparent;">
          <td>padding-row</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr data-pdf-field="invoice-balance-due">
          <td></td>
          <td></td>
          <td class="balance-due"><b>Balance Due</b></td>
          <td class="balance-amount"><span class="replace">$880.00</span></td>
        </tr>
      </tfoot>
    </table>

    <br><br>

    <div class="memo">
      <div class="small-heading">MEMO</div>
      <div data-pdf-field="memo"><span class="replace">Pleasure doing business :) Use coupon code BUSINESSCARD at LovesPresents.com</span></div>
    </div>
  </div>
</div>
<script>
  function generatePDF() {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF({
      unit: 'px',
      format: 'letter',
      hotfixes: ['px_scaling']
    });

    const pdfHtml = document.getElementById('pdf-html');

    doc.html(pdfHtml, {
      callback: function (pdf) {
        pdf.save('generate-pdf.pdf')
      }
    });
  }

  function fillForm() {
    const inputs = document.getElementsByTagName('input');
    for (let input of inputs) {
      input.value = 'text';
    }
  }

  function updatePDF(e) {
    e.preventDefault();

    // Handle standard inputs
    const inputs = document.querySelectorAll('#pdf-form #inputs > input');
    inputs.forEach((input) => {
      const replacements = document.querySelectorAll(`[data-pdf-field=${input.name}] .replace`);
      replacements.forEach((replace) => {
        replace.innerHTML = input.value;
      });
    });

    // Handle Line Item Inputs
    document.querySelectorAll('#line-items-table .line-item-row').forEach((row) => row.remove());
    const lineItems = document.querySelectorAll('#pdf-form .line-item-inputs');
    lineItems.forEach((lineItem) => {
      const inputs = lineItem.querySelectorAll('input');
      const lineItemRow = document.createElement('tr');
      lineItemRow.classList.add('line-item-row');

      inputs.forEach((input) => {
        const tableData = document.createElement('td');
        tableData.classList.add(`line-item-${input.name}`);
        tableData.innerHTML = input.value
        lineItemRow.appendChild(tableData);
      });

      document.querySelector('#line-items-table tbody').appendChild(lineItemRow);
    });
  }

  function addLineItem(e) {
    const lineItemInputGroup = document.createElement('div');
    lineItemInputGroup.classList.add('line-item-input-group');
    lineItemInputGroup.innerHTML = `
      <div class="line-item-input-group">
        <b>Line item:</b> <button class="remove-line-item">remove</button><br>
        <div class="line-item-inputs">
          Date: <input type="text" name="date" /><br>
          Description: <input type="text" name="description" /><br>
          Rate: <input type="text" name="rate" /><br>
          Amount: <input type="text" name="amount" /><br>
        </div>
        <br><br>
      </div>
    `;
    document.getElementById('line-item-inputs').appendChild(lineItemInputGroup);
  }

  function removeLineItem(e) {
    e.target.parentElement.remove();
  }

  document.querySelector('#pdf-form').addEventListener('click', (event) => {
    event.preventDefault();

    if (event.target.id == 'update-pdf') {
      updatePDF(event);
    }

    if (event.target.classList.contains('remove-line-item')) {
      removeLineItem(event);
    }

    if (event.target.id == 'add-line-item') {
      addLineItem(event);
    }
  });
</script>
{% endblock %}
