<!DOCTYPE html5>
<html>
	<head>
		<title>pd-service</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<a href="/">home</a>
		</header>
		{% block content %}
			default-html.liquid is showing.
			Implement a content block in the page.
		{% endblock %}
		<br/><br/>
		<footer>&copy; by Popular Demand</footer>
	</body>
</html>